# dependencies
node_modules
.pnp
.pnp.js

# env
.env
.env*.local

# build
.next
out
build
dist

# prisma
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal

# misc data / scratch files
test.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
